* {
	text-decoration: none;
	text-decoration-color: black;
	font-size: 13px;
	font-family: arial,'pingfang sc',stheiti,'microsoft yahei',sans-serif;
	margin: 0;
	padding: 0;
}

.list-item {
	list-style: none;
	display: inline-block;
	padding: 11px;
	height: 24px;
	line-height: 24px;
}

.main {
	margin-top: 0px;
	position: relative;
	background-color: yellow;
	border: solid 5px #f40;
	height: 500px;

}

.logo-div img {
	position: absolute;
	height: 140px;
	width: 440px;
	top: 50%;
	left: 50%;
	background-color: blue;
	margin: -140px 0 0 -220px;
	opacity: 20%;

}

.input-line {
}

.input-box {
	display: block;
	position: relative;
	background-color: purple;
	height: 42px;
	margin: 0 auto;
	padding: 0 154px 0 10px;
	width: 656px;
	height: 42px;
}

#submit-button {

}


