body {
    background-color: #b5a789;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    margin: 0;
}

#header {
    background-color: #efe5d0;
    margin: 10px;
    height: 108px;
}

#main {
    background: #efe5d0 top left;
    font-size: 105%;
    padding: 15px;
    margin: 0 330px 10px 10px;
}

#footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
    clear: right;
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

.slogan {
    color: #954b4b;
}

.beanheading {
    text-align: center;
    line-height: 1.8em;
}

a:link {
    color: #b76666;
    text-decoration: none;
    border-bottom: thin dotted #b76666;
}

a:visited {
    color: #675c47;
    text-decoration: none;
    border-bottom: thin dotted #675c47;
}

#sidebar {
    background: #efe5d0 bottom right;
    font-size: 105%;
    padding: 15px;
    margin: 0 10px 10px 10px;
    position: absolute;
    top: 128px;
    right: 0;
    width: 280px;
    content: "";
    display: block;
    clear: both;
}

.sidebar-image {
    height: 200px;
    width: 50px;
}

#award {
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 99;
}

#coupon-div {
    position: fixed;
    top: 300px;
    left: -40px;
    z-index: 1;
}

#coupon-div img {
    width: 100px;
    height: 50px;
}

form {
    position: relative;
    background-color: #efe5d0;
    margin: 10px 330px 10px 10px;
    display: inline-block;
    width: 1533px;
    padding: 15px;
}

form p {
    color: #f40;
    font-size: 2em;
}

form tr {
    height: 50px;
}

form > table {
    border: solid 1px black;
    border-spacing: 0;
    text-align: left;
}

.title {
    width: 300px;
    border: solid 1px black;
    /*background-color: cyan;*/
}

.data {
    border: solid 1px black;
}

